name: Get Website Data

on:
  workflow_dispatch:
#  schedule:
#    - cron: "*/60 * * * *"
env:
  CrowdinToken: ${{ secrets.CROWDINTOKEN }}
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 16
        uses: actions/setup-node@v2
        with:
          node-version: 16
      - run: |
          npm i
          node contributor.js 
          node progress.js
      - name: "提交檔案"
        run: |
          git config --global user.email "rpmtw666@gmail.com.com"
          git config --global user.name "資料庫更新機器人"
          git add ./data
          git commit -m "更新網站資料庫"

      - name: "推送變更"
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.ref }}
